.buttons_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.source_letter {
  width: 30px;
  aspect-ratio: 1 / 1;
  border: 1px solid #fc38de;
  border-radius: 5px;
  color: #fc38de;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  user-select: none;
  opacity: 0.8;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
}

.source_letter:hover {
  cursor: pointer;
  border: 1px solid #30ffe0;
  color: #30ffe0;
}
