@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.sources.buttons {
    width: 100%;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.sources.buttons::-webkit-scrollbar {
    width: 15px;
}

.sources.buttons::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.sources.buttons::-webkit-scrollbar-thumb {
    background: linear-gradient(#30ffe0, #fc38de);
    outline: none;
    border-radius: 20px;
}

.source__item {
    background: none;
    border: 2px solid #30ffe0;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 1;
    margin: 1vw;
    padding: 0.6rem 1.2rem;
    color: #30ffe0;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #fc38de;
    color: #fc38de;
    box-shadow: 0 0.5em 0.5em -0.4em #fc38de;
    transform: translateY(-0.2rem);
}

.source__item-name {
    white-space: nowrap;
}
