@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.body_wrapper {
    width: 90vw;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 15px;
}

.body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.body::-webkit-scrollbar-thumb {
    background: linear-gradient(#30ffe0, #fc38de);
    outline: none;
    border-radius: 20px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    position: relative;
    font-size: 40px;
    font-weight: 800;
    user-select: none;
    filter: blur(0.05rem);
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: 0 0 0.8rem #0fb2e8;
    animation: shake 4s linear forwards;
}

.inner_text {
    position: absolute;
    top: 0;
    left: 180px;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    text-shadow: 0 0 0.8rem #0fb2e8;
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 180px;
    text-shadow: 0 0 0.8rem #0fb2e8;
}

h1::before {
    animation: crack1 4s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h1::after {
    animation: crack2 4s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%,
    15%,
    25%,
    35%,
    65%,
    75%,
    95% {
        filter: blur(0.05rem);
        transform: translateY(0.05rem) rotate(0deg);
    }

    10%,
    30%,
    40%,
    50%,
    70%,
    80%,
    90% {
        filter: blur(0.04rem);
        transform: translateY(-0.05rem) rotate(0deg);
    }

    20%,
    60% {
        filter: blur(0.03rem);
        transform: translate(-0.02rem, 0.02rem) rotate(0deg);
    }

    45%,
    85% {
        filter: blur(0.03rem);
        transform: translate(0.02rem, -0.02rem) rotate(0deg);
    }

    100% {
        filter: blur(0.01rem);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%,
    95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%,
    95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .copyright {
    font-size: 1rem;
    color: #333;
    text-align: center;
    text-decoration: none;
}

footer .copyright a:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}

.newsapi {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
}

.school {
    color: #30ffe0;
    opacity: 0.8;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}

.school:hover {
    color: #fc38de;
    opacity: 0.8;
    text-shadow: 0 0 10px #fc38de;
}

.author {
    color: #30ffe0;
    opacity: 0.8;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}

.author:hover {
    color: #fc38de;
    opacity: 0.8;
    text-shadow: 0 0 10px #fc38de;
}
