* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
// font-family: 'Meow Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
// font-family: 'Grape Nuts', cursive;
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
// font-family: 'Shalimar', cursive;
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
// font-family: 'Style Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
// font-family: 'Kolker Brush', cursive;
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
// font-family: 'Send Flowers', cursive;
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
// font-family: 'Oooh Baby', cursive;

$shadow-color: rgba(0, 0, 0, 0.4);
$ui-color-one: #faebd7;
$ui-color-two: antiquewhite;
$font-color-main: black;
$track-color: rgb(246, 246, 246);
$control-button-color: rgb(246, 246, 246);
$track-button-color: rgb(246, 246, 246);
$control-buttons-hover: #1e8b55;
$text-shine: rgb(255, 246, 163);
$links-hover: #ff7478;
$owl-shine: rgba(255, 246, 163, 0.8);
$button-disabled: rgb(192, 192, 192);
$scroll-color: linear-gradient(#faebd7, #24ffc5);
$current-count: #24ffc5;
$current-count: #55c6a8;
$overlay: rgba(0, 0, 0, 0.4);

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $shadow-color;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: $scroll-color;
  outline: 1px solid transparent;
  border-radius: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color: $font-color-main;
}

.header {
  width: 100%;
  max-height: 80px;
  background-color: $ui-color-one;

  &_wrapper {
    width: 90vw;
    min-height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_buttons {
    width: 30%;
    min-width: 280px;
    max-width: 540px;
    display: flex;
    justify-content: space-between;
  }

  &_button {
    width: 8vw;
    min-width: 80px;
    max-width: 120px;
    aspect-ratio: 1 / 0.3;
    border-radius: 10px;
    border: solid 2px #8f6b29;
    background: -webkit-linear-gradient(left, #8f6b29, #fde08d, #df9f28);
    font-family: 'Roboto';
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: border 0.4s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;

    &:hover {
      cursor: pointer;
      border: solid 2px #6476be;
      animation-name: button_gradient_anim;
      animation-duration: 0.4s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-play-state: running;
    }
  }

  &_snitch {
    width: 5vw;
    min-width: 30px;
    max-width: 80px;
    aspect-ratio: 1 / 1;
    background-image: url('./refs/brooms_etc_icons/snitch-quidditch-ball_golden.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: scaleX(-1);
    // margin: 5px 0px;
    transition: all 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      background-image: url('./refs/brooms_etc_icons/snitch-quidditch-ball_silvery.svg');
    }
  }
}

@keyframes button_gradient_anim {
  0% {
    background: -webkit-linear-gradient(left, #8f6b29, #fde08d, #df9f28);
    opacity: 1;
  }
  40% {
    background: -webkit-linear-gradient(left, #8f6b29, #fde08d, #df9f28);
    opacity: 0.8;
  }
  60% {
    background: -webkit-linear-gradient(left, #6b7f8f, #d0e6fe, #7a8edf);
    opacity: 0.8;
  }
  100% {
    background: -webkit-linear-gradient(left, #6b7f8f, #d0e6fe, #7a8edf);
    opacity: 1;
  }
}

.page_body {
  width: 100%;
  flex: 1 0 auto;
}

.quidditch {
  width: 100%;
  height: 100%;
  background-image: url('./refs/quidditch_field_set/field_3_recoloured.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &_wrapper {
    margin: 0 auto;
    width: 90vw;
  }

  &_warning {
    font-size: 1.4rem;
    text-align: center;
    color: rgb(179, 0, 75);
    font-family: 'Meow Script', cursive;
    user-select: none;
    text-shadow:
      0 0 10px $text-shine,
      0 0 5px $text-shine;
    -webkit-text-stroke: 1px;
    margin-top: 10px;
    user-select: none;
  }
}

.control_panel {
  width: 40%;
  min-width: 300px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.control_widget {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  &_name {
    width: 60%;
    height: 30px;
    min-height: 20px;
    max-height: 40px;
    border-radius: 10px;
    padding-left: 1vw;
    font-size: 18px;
    color: $font-color-main;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    background-color: $control-button-color;

    &::placeholder {
      color: $font-color-main;
      font-family: 'Roboto', sans-serif;
    }

    &:focus::placeholder {
      color: transparent;
      outline: none;
      border: none;
    }
  }

  &_color {
    width: 10%;
    height: 30px;
    min-height: 20px;
    max-height: 40px;
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &_color::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
  }

  &_color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
  }

  &_button {
    width: 20%;
    height: 30px;
    min-height: 20px;
    max-height: 40px;
    background-color: $control-button-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: $control-buttons-hover;
    }
  }
}

.race_buttons {
  width: 40%;
  min-width: 300px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;

  &_button {
    width: 20%;
    height: 30px;
    min-height: 20px;
    max-height: 40px;
    background-color: $control-button-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: $control-buttons-hover;
    }
  }
}

.brooms_count {
  font-size: 1.6rem;
  color: $current-count;
  font-family: 'Grape Nuts', cursive;
  text-align: center;
  margin-bottom: 10px;
  text-shadow:
    0 0 10px $text-shine,
    0 0 5px $text-shine;
  -webkit-text-stroke: 0.5px;
  animation-name: not_found_text_anim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding-top: 1vh;
  user-select: none;
}

.track_wrapper {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.track_path {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}

.track_buttons_and_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.track_broom_witch_name {
  color: $track-color;
}

.witch {
  width: 6vw;
  min-width: 50px;
  max-width: 120px;
  aspect-ratio: 1.3 / 1;
  background-image: url('./refs/brooms_etc_icons/witch-silhouette.svg');
  background-repeat: no-repeat;
  animation: witch_anim 10s linear infinite running;
  background-size: 0px 0px;
  -webkit-mask-image: url('./refs/brooms_etc_icons/witch-silhouette.svg');
  mask-image: url('./refs/brooms_etc_icons/witch-silhouette.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  background-position: center center;
  margin-bottom: 5px;

  &_name {
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
  }
}

@keyframes witch_fly_anim {
  0% {
    transform: translate(0vw, 0vh);
  }
  100% {
    transform: translate(80vw, 0vh);
  }
}

@keyframes witch_anim {
  0% {
    transform: translate(0px, 4px);
  }
  10% {
    transform: translate(0px, -4px);
  }
  20% {
    transform: translate(0px, 4px);
  }
  30% {
    transform: translate(0px, -4px);
  }
  40% {
    transform: translate(0px, 4px);
  }
  50% {
    transform: translate(0px, -4px);
  }
  60% {
    transform: translate(0px, 4px);
  }
  70% {
    transform: translate(0px, -4px);
  }
  80% {
    transform: translate(0px, 4px);
  }
  90% {
    transform: translate(0px, -4px);
  }
  100% {
    transform: translate(0px, 4px);
  }
}

.owl {
  width: 3vw;
  min-width: 20px;
  max-width: 60px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  animation-name: owl_anim;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  background-position: center center;
  margin-bottom: 5px;
  // margin-right: 1vw;
  filter: drop-shadow(0px 0px 5px $owl_shine);

  &_name {
    margin-left: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
  }
}

@keyframes owl_anim {
  0% {
    transform: translate(0px, 8px);
  }
  10% {
    transform: translate(0px, -8px);
  }
  20% {
    transform: translate(0px, 8px);
  }
  30% {
    transform: translate(0px, -8px);
  }
  40% {
    transform: translate(0px, 8px);
  }
  50% {
    transform: translate(0px, -8px);
  }
  60% {
    transform: translate(0px, 8px);
  }
  70% {
    transform: translate(0px, -8px);
  }
  80% {
    transform: translate(0px, 8px);
  }
  90% {
    transform: translate(0px, -8px);
  }
  100% {
    transform: translate(0px, 8px);
  }
}

.track {
  width: 90vw;
  border: 2px dashed $track-color;
  margin-bottom: 5px;
}

.track_buttons {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_button {
    width: 30%;
    min-width: 40px;
    max-width: 100px;
    aspect-ratio: 1 / 0.4;
    max-height: 30px;
    background-color: $track-button-color;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: $control-buttons-hover;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.race_pagination {
  width: 20vw;
  min-width: 100px;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &_button {
    width: 3vw;
    min-width: 15px;
    max-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: $ui-color-one;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center center;
    -webkit-text-stroke: 1px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    border: none;
    outline: none;
    font-size: 1rem;

    &:nth-child(1) {
      background-image: url('./refs/brooms_etc_icons/arrow-beginning_peach.svg');

      &:hover:enabled {
        background-image: url('./refs/brooms_etc_icons/arrow-beginning.svg');
      }

      &:disabled {
        background-image: url('./refs/brooms_etc_icons/arrow-beginning_peach.svg');
      }
    }

    &:nth-child(2) {
      background-image: url('./refs/brooms_etc_icons/arrow-left_peach.svg');

      &:hover:enabled {
        background-image: url('./refs/brooms_etc_icons/arrow-left.svg');
      }

      &:disabled {
        background-image: url('./refs/brooms_etc_icons/arrow-left_peach.svg');
      }
    }

    &:nth-child(4) {
      background-image: url('./refs/brooms_etc_icons/arrow-right_black.svg');

      &:hover:enabled {
        background-image: url('./refs/brooms_etc_icons/arrow-right.svg');
      }

      &:disabled {
        background-image: url('./refs/brooms_etc_icons/arrow-right_peach.svg');
      }
    }

    &:nth-child(5) {
      background-image: url('./refs/brooms_etc_icons/arrow-end_black.svg');

      &:hover:enabled {
        background-image: url('./refs/brooms_etc_icons/arrow-end.svg');
      }

      &:disabled {
        background-image: url('./refs/brooms_etc_icons/arrow-end_peach.svg');
      }
    }

    &:disabled {
      background-color: $button-disabled;
    }
  }
}

.not_found {
  width: 100%;
  height: 100%;
  background-image: url('./refs/castle/Hogwarts-Castle.avif');
  background-size: cover;
  background-repeat: no-repeat;

  &_wrapper {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Meow Script', cursive;
    text-shadow: 0px 0px 20px $text-shine;
    animation-name: not_found_text_anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: url('./refs/quidditch_field_set/harrypotter_quidditch_set_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes not_found_text_anim {
  0% {
    text-shadow:
      0px 0px 20px $text-shine,
      0px 0px 20px $text-shine;
  }
  50% {
    text-shadow:
      0px 0px 10px $text-shine,
      0px 0px 5px $text-shine;
  }
  100% {
    text-shadow:
      0px 0px 20px $text-shine,
      0px 0px 20px $text-shine;
  }
}

.winners {
  width: 100%;
  height: 100%;
  background-image: url('./refs/snitch/snitch.JPG');
  background-repeat: no-repeat;
  background-size: cover;

  &_total_number {
    margin: 0 auto;
    text-align: center;
    color: $control-button-color;
    font-size: 1.6rem;
    text-shadow: 0px 0px 10px $text-shine, 0px 0px 5px $text-shine;
    animation-name: not_found_text_anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-top: 1vh;
    font-family: 'Grape Nuts', cursive;
    user-select: none;
  }

  &_table {
    width: 50vw;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &_line {
    display: flex;
    flex-direction: row;
    color: $track-button-color;
    text-align: center;
    padding-top: 10px;
    user-select: none;
  }

  &_number {
    width: 10%;
  }

  &_pic {
    width: 10%;
  }

  &_name {
    width: 50%;
  }

  &_wins {
    width: 10%;
  }

  &_time {
    width: 20%;
  }
}

.brooms_wrapper {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brooms_parking {
  width: 100%;
  height: 100%;
  background-image: url('./refs/brooms_parking/brooms_background_layered.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}

.parking_sign {
  width: 15vw;
  min-width: 100px;
  max-width: 220px;
  aspect-ratio: 1 / 0.7;
  background-image: url('./refs/brooms_parking/broom_parking_1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.parking_witches {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.witch_path {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parking_cat {
  width: 15vw;
  min-width: 120px;
  max-width: 200px;
  aspect-ratio: 1 / 0.8;
  background-image: url('./refs/brooms_etc_icons/black-cat-horror.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  animation-name: cat_anim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  align-self: flex-end;
}

@keyframes cat_anim {
  0% {
    background-image: url('./refs/brooms_etc_icons/black-cat-horror.svg');
  }
  50% {
    background-image: url('./refs/brooms_etc_icons/black-cat-horror_other-eyes.svg');
  }
  100% {
    background-image: url('./refs/brooms_etc_icons/black-cat-horror.svg');
  }
}

.footer {
  width: 100%;
  max-height: 80px;
  aspect-ratio: 1 / 0.05;
  background-color: $ui-color-one;
  flex-shrink: 0;

  &_wrapper {
    width: 90vw;
    height: 100%;
    min-height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_year_rs_wrapper {
    display: flex;
    flex-direction: row;
  }

  &_rsschool {
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      color: $links-hover;
    }
  }

  &_year {
    user-select: none;
  }

  &_author {
    transition: all 0.2s ease-in-out;
    user-select: none;

    &:hover {
      color: $links-hover;
    }
  }
}

.imagined_name_modal {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(50%, 50%);
  width: 50vw;
  height: 20vh;
  border-radius: 10px;
  background-color: $ui-color-one;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $overlay;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  html {
    font-size: 16px;
  }

  .control_widget_name {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200.98px) {
  html {
    font-size: 14px;
  }

  .control_widget_name {
    font-size: 14px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }

  .control_widget_name {
    font-size: 12px;
  }

  .winners_line {
    width: 80%;
  }
}
